.element-spotlight {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 5px;
}

.element-spotlight__image {
  position: relative;
}

.element-spotlight__image:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: calc(9 / 16 * 100%);
}

.element-spotlight__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

.element-spotlight__content {
  height: 100%;
}

.element-spotlight__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 1rem;
}

.element-spotlight__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem;
}

@media (min-width: 576px) {
  .element-spotlight {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .element-spotlight {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
