.element-spotlight {
  position: relative;
  width: 100%;
}

.element-spotlight__image {
  position: relative;
}

.element-spotlight__image:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: calc(9 / 16 * 100%);
}

.element-spotlight__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

.element-spotlight__content {
  height: 100%;
}

.element-spotlight__title {}
.element-spotlight__text {}
